[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pillow = "*"
scikit-image = "*"
chainer = ">=2.0.0"

[dev-packages]

[requires]
python_version = "3.9"
